@font-face {
    font-family: 'SofiaRegular';
    font-style: normal;
    font-weight: normal;
    src: local('Sofia Pro Regular'), url('../sofiafont/Regular.woff') format('woff');
}




body{
    height: 100vh;
    background-color: #bfeff7;
    display: flex;
    font-family: 'SofiaRegular';

    flex-direction: column;


}



.container_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 8%;
    height: 60vh;

}

.container_top img{
    width: 65%;
}

/*OVERLAY*/

.container {
    position: relative;
    width: 60%;

}

.image {
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    opacity: 0.4;
}

/*.overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: 100%;*/
/*    width: 101%;*/
/*    opacity: 0;*/
/*    transition: .5s ease;*/
/*    background-color: rgba(255, 255, 255, 0.7);*/
/*    border-radius: 10px;*/

/*}*/

/*.container:hover .overlay {*/
/*    opacity: 1;*/
/*}*/

.text{
    color: #ffffff;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}


.img_friends{
    display: none;
    /*width: 100%;*/
    /*position: fixed;*/
    /*bottom: 0%;*/
}





.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}

/*POP UP*/
/*//////////////////////////////////////////////////////////////////////*/



#popup_login {
    background: #fff;
    position: relative;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    z-index: 11;
    padding: 3%;

}

#popup_register {
    background: #fff;
    position: relative;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    z-index: 11;
    padding: 4%;

}

.blur-filter_popup{
    filter: blur(0px);

}

.blur-filter {
    filter: blur(2px);
}

.js #popup_login {
    position: absolute;
    top: 5em;
    display: none;
    left:0; right:0;
}

.js2 #popup_register {
    position: absolute;
    top: 5em;
    display: none;
    left:0; right:0;
}


.close {
    position: absolute;
    right: 20px;
    top: 0px;
    cursor: pointer;
    font-weight: 400;
    font-size: 30px;
    color: #ee4444;
}


/*////////////////////////////////////*/

/* POP UP FORMM
 */

.login-form{
    text-align: center;
}

.login-form h1{
    font-size: 1.3em;
    font-weight: lighter;
    padding-bottom: 3%;
}

input{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    border: none;
    border-bottom: 3px solid rgb(243, 218, 79);
    outline: none;
    color: rgba(0,0,0,1);
    text-align: center;
}

input:focus{
    outline: none;
    border-bottom: 3px solid rgb(104, 169, 168);
    transition: 1s;

}

::placeholder {
    color: #919191;
    font-size: 0.8em;
}



.btn {
    color:#68A9A8;
    margin-top: 3rem;
    font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 2px solid #68A9A8;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.btn:last-child {
    margin: 0;
}

.btn:hover {
    box-shadow: 0.2rem 0.2rem 0 #d2d2d2;
    transform: translate(-0.2rem, -0.2rem);
}

.btn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.prev{
    color:#68A9A8;
    margin-top: 3rem;
    font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 2px solid #68A9A8;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.prev:last-child {
    margin: 0;
}

.prev:hover {
    box-shadow: 0.2rem 0.2rem 0 #d2d2d2;
    transform: translate(-0.2rem, -0.2rem);
}

.prev:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.next{
    color:#68A9A8;
    margin-top: 3rem;
    font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 2px solid #68A9A8;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.next:last-child {
    margin: 0;
}

.next:hover {
    box-shadow: 0.2rem 0.2rem 0 #d2d2d2;
    transform: translate(-0.2rem, -0.2rem);
}

.next:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}



.page{
    display: none;
}

header{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.page-num{
    border: 2px solid #ec754f;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 10px;
    color: #d26443;
}

.active{
    color: white;
    background-color: #ec754f;
}

/*LOGO CHECK FORMULAIRE*/

small img{
    width: 4%;
    position: relative;
    top: 20px;
    right: 120px;
}

small{
    font-size: 0.7em;
    font-weight: lighter;
}
